.topnav {
    overflow: hidden;
    background-color: lightslategray;
  }
  
  .topnav span {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav span:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav span.active {
    background-color: black;
    color: white;
  }

  .navigation-login-logo{
    width: 25%;
    height: 25%;
  }

